<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<section class="info">  
  <header>
   <h2>Peter Lonestar</h2>
   <h3>Founder</h3>
  </header>
  
  <p>
    Maecenas sed diam eget risus varius blandit sit amet non magna. Interger posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullacorper
  </p>
</section>

<section class="info">  
  <header>
   <h2>Bill Billerson</h2>
   <h3>CFO</h3>
  </header>
    
  <p>
    Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Sed posuere consectetur est at lobortis.
  <p>
</section>

<section class="info">  
  <header>
    <h2>Kent Chao<h2>
    <h3>CTO</h3>
  </header>
  <p>
    Vivamus sagittus lacus vel augue laoreet auctor. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac
  </p>
  </section>

<footer class="email">
  Contact us: <span><a href="mailto:admin@tweetful.io">admin@tweetful.io</a></span>
</footer>
